body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://drive.google.com/file/d/1GLeqQ-XEOQKwb1tUKbzMbcjqnN8kfP0C/view?usp=sharing"); */
  height: 100vh;
  background-image: url(../../public/landscape.png);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainPageRender{
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* gap: 50px;  */
    padding: 20px;
    background-image: url("https://plantigotchi.s3.us-east-2.amazonaws.com/landscape_2.png");
    background-size: cover; 
}

.mainPageRender div{
  flex: 1 1 33%;
  max-width: 33vw; 
}

.humanPlantPic {
  width: 36%;
}
.alienPlantPic {
  width: 50%;
}

.alienBox{
  padding-top: 175px;
}

.humanBox {
  padding-top: 230px;
}

#root{
  height: 100%; 
}
.mainPageRender {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px;
}

.parentWrapper {
  text-align: center;
  height: 100%;
}
