body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://drive.google.com/file/d/1GLeqQ-XEOQKwb1tUKbzMbcjqnN8kfP0C/view?usp=sharing");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainPageRender{
    display: flex;
    flex-direction: column;
    gap: 50px; 
    padding: 20px;
}