body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* background-color: #e3870f; */
  background-image: url("https://plantigotchi.s3.us-east-2.amazonaws.com/landscape_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainPageRender {
  display: flex;
  flex-direction: row;
}

.loginPageRender {
  display: flex;
  flex-direction: row;
}

.loginPageRender div {
  flex: 1 1 33%;
}

.mainPageRender div {
  flex: 1 1 33%;
  /* max-width: 33vw; */
}

.humanPlantPic {
  width: 45%;
  padding-left: 30px;
}

.alienPlantPic {
  width: 50%;
  padding-left: 30px;
}

.mainPageRender {
  display: flex;
  flex-direction: row;
  /* gap: 50px; */
  padding: 20px;
}

.parentWrapper {
  text-align: center;
  height: 100%;
  padding: 20px;
}

.header {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputBox {
  margin: 5px;
}

.emoji {
  font-size: 3em;
  background-color: #feb056;
  border: 1px solid #feb056;
  border-radius: 25px;
  margin: 1px;
}

.emoji:hover {
  background-color: #0fe3e1;
  cursor: pointer;
}

.lifepoint {
  padding-left: 70px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.characterBox {
  padding-left: 10px;
}

.directions {
  text-align: center;
  padding: 20px 30px 20px 30px;
  border: 1px solid #0fe3e1;
  margin: 20px;
  border-radius: 25px;
}

.loginBox,
.signupBox {
  border: 1px solid #0fe3e1;
  height: 250px;
  margin: 20px;
  border-radius: 25px;
}

.formBox {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBox form {
  margin: 0;
}

.inputBox {
  background-color: grey;
  border-style: solid;
  height: 1.5em;
  width: 20em;
}

::placeholder {
  color: white;
  text-align: center;
  opacity: 0.5;
}
.account {
  font-size: 10px;
}

.register,
.login {
  font-size: 20px;
  margin-bottom: 15px;
}

.createAccount,
.loginButton {
  height: 1.5em;
  width: 20em;
  margin: 15px;
  background-color: #0fe3e1;
  border-style: solid;
  border: 1px solid #0fe3e1;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.directionsHeader {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  text-align: center;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  padding-bottom: 10px;
  font-size: small;
}

.createAccount:hover,
.loginButton:hover {
  background-color: #feb056;
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent;
}
